;; Copyright © 2016, JUXT LTD.

;; Aero configuration for Ping

{:web-server
 #profile {:dev {:host "localhost:3000"
                 :port 3000
                 :history-size 2
                 :ping-interval 1}
           :prod {:host "TBD" #_"localhost:3080"
                  :port  3080
                  :history-size 10
                  :ping-interval 1}}}
